@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&family=Fugaz+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary-1: #e3961f;
  --color-secondary-1: #e3631f;
  --color-text-light: #150c76;
  --color-text-dark: #f9f9f9;
  --color-background-light: #ffe795;
  --color-background-dark: #6583a5;
  --color-cta-highlight-light: #fdd392;
  --color-cta-highlight-dark: #7670b0;
  --color-black: #001f41;
  --color-white: #f9f9f9;
}

/* Refactored based on functional mappings */
body.high-contrast {
  --color-primary-1: #412b08;
  --color-secondary-1: #2414a3;
  --color-text-light: #061732;
  --color-text-dark: #fcf4e8;
  --color-background-light: #f9ead2;
  --color-background-dark: #2414a3;
  --color-cta-highlight-light: #f9ead2;
  --color-cta-highlight-dark: #2414a3;
  --color-black: #061732;
  --color-white: #fcf4e8;
}

body {
  font-family: 'Cutive', serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-black);
  line-height: 1.7;
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--color-primary-1);
  border-radius: 2rem/3rem;
  text-wrap: balance;
  color: var(--color-white);
  margin: 0.8rem auto;
  width: 100%;
}

a {
  font-family: 'Cutive', serif;
  color: var(--color-cta-highlight-light);
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: 0;
}

.code-block {
  font-family: 'Cutive Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

@keyframes fader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-app__controls {
  position: relative;
  z-index: 1000;
}

.menu-app__controls,
.menu-app__list {
  opacity: 1;
  transition: none;
}

@media screen and (min-width: 667px) and (max-width: 1023px) {
  .menu-app__controls,
  .menu-app__list {
    animation: fader 1.4s ease-in-out;
  }

  .header__button {
    align-self: end;
  }

  h1 {
    padding: 2rem;
    margin: 0rem auto;
    height: auto;
  }

  main {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2rem auto;
  }

  .menu-app__controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
  }

  .menu-app__message {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: auto;
    padding: 0.7rem;
  }

  .menu-app__item {
    width: 100%;
  }

  .menu-app__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
    animation: fader 1.4s ease-in-out forwards;
    width: 90%;
    margin: 2rem auto;
  }

  .header__button {
    align-self: end;
  }

  h1 {
    padding: 2rem;
    margin: 2rem auto;
    height: auto;
  }

  main {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2rem auto;
  }

  .menu-app__controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
  }

  .menu-app__message {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: auto;
    padding: 2rem;
  }

  .menu-app__item {
    width: 100%;
  }

  .menu-app__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1rem;
    width: 100%;
  }

  .menu-app__list li:last-child {
    justify-self: end;
    grid-column-end: -1;
  }
}
